@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.SearchContainer{
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.SearchContainer-title{
    font-family: 'Oswald', sans-serif;
    color: #eccc2d;
    font-size: 22pt;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    float: left;
    width: 80px;
}
.SearchContainer-fuel-box {
    display: flex;
    height: 60px;
    cursor: pointer;
}

