.App {
    background-color: #282c34;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-result-container {
    width: 90%;
    border-radius: 5px;
    min-height: 600px;
    height: auto;
    padding: 10px;
    background: white;
}